<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
   <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul>
  <div class="ng-view"></div>

  <h2>ng 4 menu</h2>

  <ul>
    <li>
      <a routerLink="/feature1/sub1">ng4 feature1 sub 1
      </a>
    </li>
    <li>
      <a routerLink="/feature1/sub2">ng4 feature1 sub 2
      </a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</div>
